body {
  background: url('https://i.redd.it/4d5x3a8zy70b1.gif') no-repeat center center;
  background-size: cover; 
  min-height: 100vh; 
  margin: 0; 
  color: #cc66ff;
  box-shadow: 0 0 20px #cc66ff;
}

.forca-container {
  background-color: #111;
  color: #00ffcc;
  padding: 30px;
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
  border-radius: 15px;
  font-family: "Press Start 2P", monospace;
  box-shadow: 0 0 20px #00ffcc;
}

@keyframes typing {
  0% { width: 0; }
  100% { width: 100%; }
}

h1 {
  font-size: 3em;
  overflow: hidden; 
  border-right: .1em solid #00ffcc; 
  white-space: nowrap; 
  width: 0; 
  animation: typing 3s steps(30) 1s forwards, blink 0.75s step-end infinite; 
}


@keyframes blink {
  50% { border-color: transparent; }
}


#palavra-secreta {
  font-size: 1.2em;
  letter-spacing: 12px;
  margin: 20px 0;
}

.titulo{
  font-size: 20px;
}

#letra {
  font-family: "Press Start 2P", monospace;
  background-color: #000;
  color: #00ffcc;
  border: 2px solid #00ffcc;
  padding: 10px;
  width: 50px;
  text-align: center;
  font-size: 1em;
  margin-bottom: 20px;
}

button {
  font-family: "Press Start 2P", monospace;
  background-color: #00ffcc;
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 10px 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.8em;
}

button:hover {
  background-color: #00ccaa;
}

#letras-digitadas {
  margin: 10px 0;
  font-size: 0.8em;
}


#mensagem-final {
  font-size: 1em;
  margin-top: 20px;
  font-weight: bold;
  color: #ff4444;
}

.ganhou {
  color: #00ff00 !important;
}
